.article-img {
    min-width: 356px;
    min-height: 267px;
    max-width: 356px;
    max-height: 267px;
}

.article-img-inside {
    min-width: 356px;
    min-height: 267px;
    max-width: 356px;
    max-height: 267px;
}